airsim==1.3.0
appdirs==1.4.4
astroid==2.5.6
asttokens==2.0.5
attrs==21.2.0
certifi==2020.12.5
colorama==0.4.4
cycler==0.10.0
executing==0.6.0
future==0.18.2
graphviz==0.16
icecream==2.1.1
imageio==2.9.0
importlib-metadata==4.0.1
isort==5.8.0
keyboard==0.13.5
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
matplotlib==3.4.1
mccabe==0.6.1
meshio==4.4.3
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1603468620949/work
olefile==0.46
opencv-contrib-python==4.5.1.48
Pillow @ file:///C:/ci/pillow_1617386319301/work
pydot==1.4.2
Pygments==2.9.0
pylint==2.8.3
pyparsing==2.4.7
pyswarm==0.6
pyswarms==1.3.0
python-dateutil==2.8.1
pyvista==0.30.1
PyYAML==5.4.1
scipy==1.6.2
scooby==0.5.7
six @ file:///C:/ci/six_1605205426665/work
toml==0.10.2
torch==1.8.1
torchaudio==0.8.1
torchsummary==1.5.1
torchvision==0.9.1
tornado==4.5.3
tqdm==4.60.0
transforms3d==0.3.1
typed-ast==1.4.3
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
vtk==9.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.1
